---
---

<div class="storefront-card-grid">
  <slot />
</div>

<style>
  .storefront-card-grid {
    display: grid;
    gap: 1rem;
    margin: 1.5rem 0 3rem;
  }

  @media screen and (min-width: 44em) {
    .storefront-card-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media screen and (min-width: 64em) {
    .storefront-card-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
